* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    background: #f1f5f8;
    color: #102a42;
    line-height: 1.5;
    font-size: 0.875rem;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    width: 90vw;
    margin: 5rem 0;
    max-width: 620px;
}

.title {
    text-align: center;
    margin-bottom: 4rem;
}

.title h2 {
    font-size: 2rem;
    text-transform: capitalize;
}

.underline {
    height: 0.25rem;
    width: 5rem;
    background: #49a6e9;
    margin-left: auto;
    margin-right: auto;
}

.review {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.person-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.quote-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: #49a6e9;
    color: white;
}

.author {
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

.job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: #49a6e9;
    font-size: 0.85rem;
}

.info {
    margin-bottom: 0.75rem;
}

.button-container {
    margin-bottom: 1rem;
}

.prev-btn,
.next-btn {
    color: #49a6e9;
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    color: #063251;
}

.random-btn {
    text-transform: capitalize;
    background: #eae6eb;
    color: #49a6e9;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border-color: transparent;
    cursor: pointer;
}

.random-btn:hover {
    background: #49a6e9;
    color: white;
}